 <!DOCTYPE html>
 <html>
	 <head>
		 <title>{{location.title()}} Written Submissions Classification Tool</title>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
	 </head>
	 <body>
		 <h1>{{location.title()}} Classification Tool</h1>

        <form action="/{{location}}/submit">
        {% for count, submission in written_submissions.iterrows() %}
            <h2>Submission: {{ submission["title"] }}</h2>
            <b>
                <p>City: {{ submission["city"] }}</p>
                <p>Time: {{ submission["datetime"] }}</p>
                <p>Tags: {{ submission["tags"] }}</p>
            </b>
            <p>{{ submission["text"] }}</p>
            <br>

	    <div style="display: flex">
            <input type="radio" id="theory" name="{{ submission["id"] }}" value="theory">
            <label for="theory">theory</label><br>
            <input type="radio" id="coi" name="{{ submission["id"] }}" value="coi">
            <label for="coi">coi</label><br>
            <input type="radio" id="both" name="{{ submission["id"] }}" value="both">
            <label for="both">both</label><br>
            <input type="radio" id="other" name="{{ submission["id"] }}" value="other">
            <label for="other">other</label><br>
	    </div>

	    <label for="key">Keyword (optional):</label><br>
	    <input type="text" id="key" name="{{ submission["id"] }}-key"><br>
            <br>
            <hr>
            <br>
        {% endfor %}

        <br>
        <label for="name">Your Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <br>

        <input type="submit" value="Submit">

        </form>
	</body>
 </html> 
